body{
 min-width: 1100px;
}

div.container.grid-list-md.text-xs-center
{
    margin-top: 40%;
}

#inst{
    margin-top: 3%;
}

#btn
{
    margin: 15%
}

.style{
    margin: 5%;
    margin-left: 40%;
}